.entirecontact{
    background-color: cornflowerblue;
    margin-top: 19px;
}

.contactUs{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.contactUs .titleh{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.contactUs .titleh h2{
    color: #fff;
    font-weight: 500;
}

.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;
}
.contactc {
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 35px rgba(0,0,0,0.15);
}
.boxc{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas:"form info"
    "form map" ;
    grid-gap: 20px;
    margin-top: 20px;
}
.contactc h3{
    color: #0e3959;
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 10px;
}

/* formbox */
.formbox{
    position: relative;
    width: 100%;
}
.formbox .row50{
    display: flex;
    gap: 20px;
}
.inputbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 50%;
}
.formbox .row100 .inputbox{
    width: 100%;
}
.inputbox span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}
.inputbox input{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    border-radius: 10px;
}
.inputbox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    border-radius: 10px;
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}
.btn{
    max-width: 120px ;
}
.inputbox ::placeholder{
    color: #999;
}

/* info */
.info{
    background: #0e3950;
}
.info h3{
    color: #fff;
   
}
.info .infobox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}
.info .infobox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

.info .infobox div p{
    color:#fff;
    font-size: 1.1em;
}
.info .infobox div a{
    color:#fff;
    text-decoration: none;
    font-size: 1.1em;
}
.info .infobox div p:hover{
    color:#ccc;
    font-size: 1.1em;
}
.info .infobox div a:hover{
    color:#ccc;
    text-decoration: none;
    font-size: 1.1em;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    /* color: white; */
    font-size: 2em;
    color: #ccc;
}
.sci li a:hover{
    color:#fff;
}
.map{
    padding: 0;
    min-height: 300px;
}
.map iframe{
    width: 100%;
    height: 100%;
}

/* responsive design */
@media (max-width: 990px){
    .contactUs{
        padding: 20px;
    }
    .boxc{
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "form""info""map";
    }
}
@media (max-width: 560px){
    .formbox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .inputbox{
        width: 100%;
    }
    .contactc{
        padding:20px ;
        max-width: 320px;
    }
    .map{
        padding: 0;
       
    }
    .info .infobox div p{
        font-size: 1em;
    }
    .info .infobox div p:hover{
        font-size: 1em;
    }
    .info .infobox div a{
        font-size: 0.9em;
    }
    .info .infobox div a:hover{
        font-size: 0.9em;
    }
}
